@using LibrarySystem.Web.Models.Borrowers
@using LibrarySystem.Web.Controllers
@using LibrarySystem.Borrowers.Dto
@model BorrowersListViewModel


@section scripts{
    <environment names="Development">

        <script src="~/view-resources/Views/Borrowers/Index.js" asp-append-version="true"></script>

    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Borrowers")</h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">

                    <div class="card-header">
                        <a class="btn bg-blue float-sm-right" href="/Borrowers/CreateBorrower">
                            <i class="fa fa-plus-square"></i>
                            @L("Create")
                        </a>
                        <div class="col-sm-6">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="abp-advanced-search">
                                    @*Search Bar*@
                                    <form name="SearchBorrowerForm" class="form-horizontal" asp-controller="Borrowers" asp-action="Index" method="get">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button type="submit" class="btn bg-blue btn-search search-button">
                                                    <span class="fas fa-search" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <input class="form-control" type="text" name="SearchBorrower" placeholder="Search" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="UsersTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>BorrowDate</th>
                                        <th>ExpectedReturnDate</th>
                                        <th>ReturnDate</th>
                                        <th>Book Title</th>
                                        <th>Student Name</th>
                                        <th style="width: 200px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var borrower in Model.Borrowers)
                                    {
                                        @if (borrower.ExpectedReturnDate < borrower.ReturnDate)
                                        {
                                            <tr style="background-color:brown;" id="borrower">
                                                <td>@borrower.Id</td>
                                                <td>@borrower.BorrowDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower.ExpectedReturnDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower.ReturnDate?.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower.Book?.BookTitle</td>
                                                <td>@borrower.Student?.StudentName</td>

                                                <td>
                                                    <a class="edit-borrower btn btn-sm bg-secondary" data-borrower-id="@borrower?.Id">
                                                        <i class="fas fa-trash-o fa-lg"></i> Update
                                                    </a>
                                                    <a class="btn btn-sm bg-danger delete-borrower" href="#" data-borrower-id="@borrower?.Id" data-borrow-date="@borrower?.BorrowDate">
                                                        <i class="fas fa-trash-o fa-lg"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        else if (borrower.BorrowDate > borrower.ReturnDate)
                                        {
                                            <tr id="borrowerTable">
                                                <td>@borrower?.Id</td>
                                                <td>@borrower?.BorrowDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower?.ExpectedReturnDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower?.ReturnDate?.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower.Book?.BookTitle</td>
                                                <td>@borrower.Student?.StudentName</td>
                                                <td>
                                                    <a class="edit-borrower btn btn-sm bg-secondary" data-borrower-id="@borrower?.Id">
                                                        <i class="fas fa-trash-o fa-lg"></i> Update
                                                    </a>
                                                    <a class="btn btn-sm bg-danger delete-borrower" href="#" data-borrower-id="@borrower?.Id" data-borrow-date="@borrower?.BorrowDate">
                                                        <i class="fas fa-trash-o fa-lg"></i> Delete
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@borrower?.Id</td>
                                                <td>@borrower?.BorrowDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower?.ExpectedReturnDate.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower?.ReturnDate?.ToString("yyyy-MM-dd")</td>
                                                <td>@borrower.Book?.BookTitle</td>
                                                <td>@borrower.Student?.StudentName</td>
                                                <td>
                                                    <a class="edit-borrower btn btn-sm bg-secondary" data-borrower-id="@borrower?.Id">
                                                        <i class="fas fa-trash-o fa-lg"></i> Update
                                                    </a>
                                                    <a class="btn btn-sm bg-danger delete-borrower" href="#" data-borrower-id="@borrower?.Id" data-borrow-date="@borrower?.BorrowDate">
                                                        <i class="fas fa-trash-o fa-lg"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

